.message-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 25px);

  overflow: hidden;
  padding: 10px 20px;

  &__content {
    height: 100vh;

    padding: 20px 0;
  }

  &__footer {
    margin-top: auto;
  }
}
