<div class="message-section-footer">
  <div class="message-section-footer__area">
    {{{inputArea}}}
  </div>

  <div class="message-section-footer__buttons">
    {{{submitButton}}}
    {{{attachButton}}}
  </div>
</div>
