input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 8px 0px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(51, 105, 243);

  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;

  &:focus-visible {
    outline: none;
    border-bottom: 1px solid #1553ee;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #1553ee;
  }
}
