.input {
  width: 100%;
  padding: 7px 0px;
  border-radius: 0;

  border: none;
  outline: none;

  color: #1e1e1e;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;

  &[type="search"] {
    padding: 10px 12px;
    border-radius: 5px;
    background: $primary-gray;

    padding-left: 35px;
    font-size: 12px;
    line-height: 12px;

    &:focus {
      box-shadow: 0 0 3px 0 $primary-blue;
      border-color: $primary-blue;
    }
  }

  &__rigth-align {
    text-align: right;
  }
}
