@mixin common-container-styles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-form {
  max-width: 510px;

  @include common-container-styles;

  &__header {
    @include common-container-styles;

    &__title {
      margin-top: 21px;
    }
  }

  &__content {
    margin: 60px 0;

    @include common-container-styles;
  }

  &__footer {
    @include common-container-styles;
  }
}
