.button {
  width: 100%;
  padding: 12px 15px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  line-height: 13px;

  &__with-icon {
    justify-content: space-between;
    gap: 5%;
  }

  &__primary {
    color: $primary-white;
    background: $primary-blue;
    border-radius: 8px;

    &:hover {
      background-color: $button-blue-hover;
    }
  }

  &__link {
    color: $primary-blue;
    background-color: $primary-white;

    &:hover {
      color: blue;
    }
  }

  &__secondary {
    background-color: transparent;
    color: $text-gray;

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    width: 13px;
  }
}

.btn-disabled {
  opacity: 0.7;
  background-color: $primary-blue;

  &:hover {
    background-color: $primary-blue;
  }
}
