.chat-bar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  overflow: hidden;

  &__header {
    padding: 21px 10px 7px;
    display: flex;
    flex-direction: column;

    &__profile-btn {
      align-self: flex-end;
      margin-bottom: 23px;

      button {
        padding: 0;
      }
    }
  }

  &__list {
    padding: 7px 0;
    overflow: auto;
  }
}
