<div class="chat-bar">

  <div class="chat-bar__header">
    <div class="chat-bar__header__profile-btn">
      {{{toProfileButton}}}
    </div>

    {{{searchInput}}}
  </div>

  <div class="chat-bar__list">
    {{{chatList}}}
  </div>
</div>