<div class="chat-bar">
  <div class="chat-bar__header">
    <div class="chat-bar__header__btn-group">

      <div class="chat-bar__header__btn-group__btn">
        {{{addChatButton}}}
      </div>
      <div class="chat-bar__header__btn-group__btn">
        {{{toProfileButton}}}
      </div>

    </div>

    {{{searchInput}}}
  </div>

  <div class="chat-bar__list">
    {{{chatList}}}
  </div>
</div>
