.chat-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 21px 10px 7px;
    display: flex;
    flex-direction: column;


    &__btn-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 15px;

      &__btn {
        width: fit-content;
        padding: 0;
      }
    }
  }

  &__list {
    padding: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e0dcdc;
      border-radius: 10px;
      border: 2px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #efefef;
    }
  }
}
