/* --- colors --- */
$text-black: #1e1e1e;
$text-gray: #999;
$text-error: #ff2f2f;
$text-white: #fff;
$text-blue: #3369f3;
$primary-blue: #3369f3;
$primary-white: #fff;
$primary-gray: #efefef;
$dark-gray: #cdcdcd;
$gray-shadow: rgb(0 0 0 / 14%);
$gray-light-background: #fbfbfb;
$divider-gray: #eaeaea;
$ligth-blue: #e4edfd;
$light-gray: #f8f8f8;
$button-blue-hover: #1553ee;
$button-gray-hover: #99999993;
$blackout-backround: #000;
