<div class="custom-field">
  <div class="custom-field__content">
    {{#if leftField}}
      <div class="custom-field__content__left">
        {{{leftField}}}
      </div>
    {{/if}}
    {{#if rightField}}
      <div class="custom-field__content__right">
        {{{rightField}}}
      </div>
    {{/if}}
  </div>

  {{#if divider}}
    {{{divider}}}
  {{/if}}
</div>