.custom-field {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;

    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      flex: 0.5;

      &__error {
        margin-top: 7px;
        font-size: 8px;
        line-height: 8px;
        color: #ff2f2f;
      }
    }

    &__left {
      text-align: left;
      align-items: start;
    }

    &__right {
      align-items: end;
      text-align: right;
    }
  }
}
