<div class="modal">
  {{{closeIcon}}}
  <div class="modal__title">{{{title}}}</div>

  <div id="modal-content" class="modal__content">{{{content}}}</div>

  {{#if submitBtn}}
    <div class="modal__submit_btn">{{{submitBtn}}}</div>
  {{/if}}
</div>
