<div class="modal">
  <span id="close-modal-icon" class="close">&times;</span>
  <div class="modal__title">{{{title}}}</div>

  <div class="modal__content">{{{content}}}</div>

  <div class="modal__submit_btn">{{{submitBtn}}}</div>
</div>
