<div class="field"
  {{#if style}} style="{{style}}" {{/if}}>
  <div class="field__content">
    {{{label}}}
    {{{input}}}
  </div>
  {{#if error}}
    <label class="field__error"> {{error}} </label>
  {{/if}}
</div>
