.message-section-footer {
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 10px;

  &__area {
    flex: 1 1 80%;
    height: 100%
  }

  &__buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
