<section class="messenger-container">
  <aside class="messenger-container__bar">
    {{{chatBarList}}}
  </aside>
  <section class="messenger-container__content">
    {{{chatContentContainer}}}
  </section>
</section>
