.chat-message {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.chat-message-item {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  border-radius: 12px;
  padding: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  &__left {
    justify-content: left;
    align-self: flex-start;
    background-color: $light-gray;
  }

  &__right {
    align-self: flex-end;
    justify-content: right;
    background-color: $ligth-blue;
  }
}
