<div class="text-icon-btn">
   <img
    class="text-icon-btn__img"
    {{#if iconWidth}}
      style="width: {{iconWidth}}px"
    {{/if}}
    src="{{iconSrc}}"
  />

  <span class="text-icon-btn__text">{{{text}}}</span>
</div>
