<div
  {{#if id}} id="{{id}}" {{/if}}
  class="avatar{{#if size}} avatar_{{size}}{{/if}}{{#if isEditable}} avatar_edit{{/if}}">

  <div class="avatar__figure">
    {{#if imageSrc}}
      <img class="avatar__img-src{{#if size}} avatar_{{size}}{{/if}}" src="{{imageSrc}}" alt="Аватар" />
    {{/if}}

    {{#if isEditable}}
      <figcaption class="avatar_edit__icon">
        <img src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
      </figcaption>
    {{/if}}
  </div>
</div>
