.avatar {
  width: 47px;
  height: 47px;
  position: relative;
  box-sizing: border-box;
  background: $primary-gray;
  border-radius: 50%;

  text-align: center;

  &_s {
    width: 34px;
    height: 34px;
  }

  &_m {
    width: 47px;
    height: 47px;
  }

  &_l {
    width: 130px;
    height: 130px;
  }

  &__img-src {
    position: relative;
    z-index: 2;

    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;

    transition: all ease-in-out 0.3s;
  }

  &_edit {
    cursor: pointer;
    transition: all ease-in-out 0.3s;

    &__icon {
      position: absolute;
      transition: all ease-in-out 0.3s;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      width: inherit;
      height: inherit;
      border-radius: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    &:hover {
      box-shadow: $avatar-hover-shadow;
      background-color: rgba(0, 0, 0, 0.273);

      .avatar__img-src {
        z-index: 1;
        opacity: 0.8;
      }

      .avatar_edit__icon {
        z-index: 2;
        opacity: 1;
      }
    }
  }
}
