.avatar {
  width: 47px;
  height: 47px;
  position: relative;
  box-sizing: border-box;

  background: $primary-gray;
  border-radius: 50%;

  &__s {
    width: 34px;
    height: 34px;
  }
  &__m {
    width: 47px;
    height: 47px;
  }
  &__l {
    width: 130px;
    height: 130px;
  }

  &__img {
    width: 100%;
    border-radius: 50%;
  }
}
