.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  border-radius: 50%;

  &__img {
    width: 15px;
    align-items: center;
  }

  &__primary {
    background-color: $primary-blue;

    &:hover {
      background-color: $button-blue-hover;
    }
  }

  &__secondary {
    background-color: transparent;

    &:hover {
      background-color: $gray-light-background;
    }
  }
}
