.chat-bar-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 67px;
  padding: 10px 10px;
  margin: 2px 0px;
  border-radius: 10px;
  cursor: pointer;

  &__content {
    flex: 1;
    margin-left: 10px;

    &__info-row {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;

      &__time {
        font-size: 9px;
        line-height: 13px;
        color: $text-gray;
      }
    }

    &__subtitle {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px 0 5px;

      &__message {
        flex: 1;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: $text-gray;
        margin: 0;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  &:hover {
    background-color: $light-blue-hover;
  }

  &_selected {
    background-color: $light-blue-selected;

    &:hover {
      background-color: $light-blue-selected;
    }
  }
}
