.link {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  color: $text-blue;
  font-size: 13px;
  line-height: 13px;

  &:hover {
    color: $button-blue-hover;
  }

  &__red {
    color: $text-error;

    &:hover {
      color: #f00;
    }
  }
}
